{% extends '../Base/base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<link rel="stylesheet" type="text/css" href="/static/css/add_dish_menu.css">
{% end %}
{% block js %}
<script type="text/javascript" rel="script" src="/static/js/index.js"></script>
<script type="text/javascript" rel="script" src="/static/js/add_caidan.js"></script>
{% end %}
{% block pg_body%}
<div class="pg_body">
    <div class="margin-80">
        <div claas="row">
            <div class="col-sm-12">
                <div class="add_dish">
                    <h3>添加菜单</h3>
                    <div class="form-group">
                        <label class="col-md-2 control-label">家常菜</label>
                        <div class="col-md-9">
                            <button class="blue" category_url="/category/40076">点我</button>
                        </div>
                        <div>
                            <textarea rows="4" class="col-md-10 col-md-offset-1"></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">下饭菜</label>
                        <div class="col-sm-9">
                            <button class="blue" category_url="/category/40078">点我</button>
                        </div>
                        <div>
                            <textarea rows="4" class="col-sm-10 col-md-offset-1"></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">素菜</label>
                        <div class="col-sm-9">
                            <button class="blue" category_url="/category/51848">点我</button>
                        </div>
                        <div >
                            <textarea rows="4" class="col-sm-10 col-md-offset-1"></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">大鱼大肉</label>
                        <div class="col-md-9">
                            <button class="blue" category_url="/category/52354">点我</button>
                        </div>
                        <div >
                            <textarea rows="4" class="col-md-10 col-md-offset-1"></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">汤羹</label>
                        <div class="col-md-9">
                            <button class="blue" category_url="/category/20130">点我</button>
                        </div>
                        <div >
                            <textarea rows="4" class="col-md-10 col-md-offset-1"></textarea>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">凉菜</label>
                        <div class="col-md-9">
                            <button class="blue"category_url="/category/20137">点我</button>
                        </div>
                        <div class="liangcai" >
                            <textarea rows="4" class="col-md-10 col-md-offset-1"></textarea>
                        </div>
                    </div>
                </div>
                <div id="display_caidan" class="display-caidan">
                    <h3>显示菜单</h3>
                    <div class="search_result">
                        <div class="add_quxiao">
                            <button class="blue hider add_tijiao_caidan">确定加入</button>
                            <button class="blue hider quxiao_add_caidan">取消加入</button>
                        </div>
                        <ul class="detail"></ul>
                    </div>
                    <div class="add_quxiao">
                            <button class="blue hider add_tijiao_caidan">确定加入</button>
                            <button class="blue hider quxiao_add_caidan">取消加入</button>
                    </div>
                    <nav aria-label="Page navigation" class="hider">
                        <ul class="pagination pagination-lg">
                            {% for i in range(1,11) %}
                            <li><a href="#">{{i}}</a></li>
                            {% end %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block pg_footer %}
<div class="pg_footer"></div>
{% end %}